* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    max-width: 1440px;
    font-size: 1.125rem;

    scroll-behavior: smooth;

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/*estilos generales*/
:root {
    --font-titulos: 'Open Sans', sans-serif;
    --font-texto: 'Poppins', sans-serif;
    --fw-regular: 400;
    --fw-bold: 700;
    --fw-reg-tex: 600 bolder;
    --color-btn: hsl(322, 100%, 66%);
    --color-oscuro: hsl(192, 100%, 9%);
    --color-claro: #FFFF;
    --color-fondo: hsl(193, 100%, 96%);
    --color-medio: hsl(208, 11%, 55%);
    --fs-h1: 1.125rem;
    --fs-h2: 1.125rem;
    --fz-p: .9rem;

    --box-sh-1: 0px 0px 5px #bdc0c0;

}

body {
    background-color: var(--color-claro);

    height: 100%;
    width: 100%;

}

.botongris {

    font-family: var(--font-titulos);
    font-weight: var(--fw-bold);
    width: 15%;
    height: 48px;
    background: var(--color-claro);
    border-radius: 30px;
    border: none;
    box-shadow: var(--box-sh-1);
    cursor: pointer;
    color: var(--color-oscuro);
}

.boton-rosa {
    font-family: var(--font-titulos);
    font-weight: var(--fw-bold);
    width: 45%;
    height: 48px;
    border-radius: 30px;
    color: var(--color-claro);
    background: var(--color-btn);
    border: none;
    margin-top: 2em;
    cursor: pointer;


}


/* FIN ESTILOS GENERALES*/

/* INICIO ESTILOS MOCKUP*/
.contenedor {
    background-image: url('../img/bg-hero-desktop.svg');
    background-color: var(--color-fondo);
}

.contenedor-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 3em;

    padding-right: 3em;
    padding-left: 3em;


}

.mockup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: var(--font-titulos);
    margin-top: 8em;
    padding-bottom: 5em;
    margin-left: 3em;
    margin-right: 3em;
}

.texto-mockup {
    width: 60%;
}

.mockup .texto-mockup h1 {
    color: var(--color-oscuro);
    padding-top: 3em;


}

.mockup p {
    padding-top: 3em;
    padding-right: 1em;

    color: var(--color-oscuro);

}

.mockup img {
    width: 100%;
    height: auto;
}


/*INICIO ESTILOS CAJAS*/

.contenedor-cajas {
    padding-top: 5em;
    background: var(--color-claro);
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.caja {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: .5em;
    margin-bottom: 1.125em;
    box-shadow: var(--box-sh-1);

}

.texto-cajas {
    outline: 1px solid red;
    padding-top: 5.5em;
    width: 40%;
    line-height: 20px;
    margin-left: 4em;
    margin-right:
}

.texto-cajas h2 {

    font-size: var(--fs-h2);
    font-family: var(--font-texto);
    color: var(--color-oscuro);
    padding-bottom: 1em;
}

.texto-cajas p {
    font-size: var(--fz-p);
    font-family: var(--font-titulos);
    color: var(--color-medio);
    line-height: 20px;


}

.caja-img {
    width: 30%;
    margin: 1em;
    margin-left: 6em;
    outline: 1px solid red;
}

.contenedor-cajas img {
    width: 100%;
    height: auto;

}


/* estilos contenido principal*/


.contenedor-cajas {
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    margin: 0 auto;
}

.caja {
    display: flex;
    flex-flow: row;
    justify-content: space-between;

}

.izquierda {

    flex-flow: row-reverse !important;

}

.texto-caja {

    margin: 2.5em;
    margin-top: 6em;
    padding: 2em;
    width: 60%;
    line-height: 20px;
}

.texto-caja h2 {

    font-size: var(--fs-h2);
    font-family: var(--font-texto);
    color: var(--color-oscuro);
    padding-bottom: 1em;
}

.texto-caja p {
    font-size: var(--fz-p);
    font-family: var(--font-titulos);
    color: var(--color-medio);
    line-height: 20px;


}

.caja img {

    align-self: center;
    width: 50%;
    padding: 1em;
}

.comunidad {
    width: 40%;
    height: 400px;
    font-size: var(--fs-h2);
    height: 200px;
    text-align: center;
    position: absolute;
    transform: translate(70%, 50%);
    background: var(--color-claro);
    border-radius: 20px;
    box-shadow: var(--box-sh-1);
    border: none;
    font-family: var(--font-titulos);
    z-index: 1;
}

.comunidad h2 {
    padding: 1.5em;
    font-size: var(--fs-h2);
}

footer {
    width: 100%;
    background-color: #00252E;

    margin-top: 10em;
}

.contenedor-links-footer a {
    text-decoration: none;

    color: var(--color-claro);
    font-family: var(--font-titulos);
}

.contenedor-links-footer li {
    list-style: none;
}

.contenedor-logo-footer img {
    padding-top: 8em;
    padding-left: 3em;
}

.contenedor-links-footer {
    padding-top: 3em;
    padding-left: 3em;
    line-height: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 3em;

}



/* MEDIA QUERYS RESPONSIVE*/

@media screen and (max-width:800px) {
    :root {

        --fs-h1: 1.125rem;
        --fs-h2: 1rem;
        --fz-p: .6rem;

    }

    .botongris {

        width: 25%;
        height: 40px;

    }

    .boton-rosa {

        margin-top: 2em;
        margin-bottom: 4em;

    }

    .contenedor {
        background-image: url('../img/bg-hero-desktop.svg');
        background-color: var(--color-fondo);
    }

    .contenedor-logo {

        padding-right: 1.5em;
        padding-left: 1.5em;
    }

    .contenedor-logo img {
        padding-top: .5em;
        width: 80%;
    }

    .mockup {
        display: flex;
        flex-direction: column;
        margin-top: 5em;
        margin-left: 1em;
        margin-right: 1em;
        text-align: center;
    }

    .texto-mockup {
        width: 100%;
        padding-right: 1em;
        padding-left: 1em;
    }

    .mockup .texto-mockup h1 {
        padding-top: 1em;
    }

    .mockup p {
        padding-top: 1em;
        padding-right: 1em;
        padding-left: 1em;
        color: var(--color-oscuro);
    }

    .mockup img {
        width: 90%;
        height: auto;
    }

    .caja {
        flex-flow: row wrap-reverse;
    }

    .caja img {
        width: 90%;
        margin: 2em;
    }

    .texto-caja {
        margin-top: 0.5em;
        text-align: center;
        width: 90%;
        line-height: 20px;
    }

    .comunidad {

        width: 90%;
        font-size: var(--fs-h2);
        transform: translate(1.5em, 50%);
    }


    .footer {
        margin-top: 10em;
    }

    .contenedor-links-footer a {
        text-decoration: none;

        color: var(--color-claro);
        font-family: var(--font-titulos);
    }

    .contenedor-links-footer li {
        list-style: none;
    }

    .contenedor-logo-footer img {
        padding-top: 8em;
        padding-left: 3em;
    }

    .contenedor-links-footer {
        padding-top: 3em;
        padding-left: 3em;
        line-height: 40px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 3em;

    }




}

@media screen and (max-width:500px) {
    :root {

        --fs-h1: 1.125rem;
        --fs-h2: 1rem;
        --fz-p: .6rem;

    }
    .comunidad{
        width: 90%;
    font-size: var(--fs-h2);
    transform: translate(1em, 50%);
    }
}

